.bodyContainer {
 min-height: 80vh;
 font-family: 'Open Sans', sans-serif;
}

.cardContainer {
  background:gray;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px solid black;
    margin: 2rem auto;
    color: aliceblue;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.admin-title{
  border-bottom: 2px solid #360027fd;
  padding: 1rem;
}